@model CalculatorClient.Models.CalculatorFields
@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Person Details</th>
            </tr>
            <tr>
                <td>Value A:  </td>
                <td>
                    @Html.TextBoxFor(m => m.Avalue)
                </td>
            </tr>
            <tr>
                <td>Value B:  </td>
                <td>
                    @Html.TextBoxFor(m => m.Bvalue)
                </td>
            </tr>
            <tr>
                <td>Result:  </td>
                <td>
                    @Html.DisplayFor(m => m.Result)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="submitButton" value="Add" />
                    <input type="submit" name="submitButton" value="Subtract" />
                    <input type="submit" name="submitButton" value="Multiply" />
                    <input type="submit" name="submitButton" value="Divide" />
                </td>
            </tr>
        </table>
    }
</div>
